body {
  background-color: #e3e3e3;
}

/* Your Code Here */

div.row-one {
  background-color: green;
}
div.row-two {
  background-color: yellow;
}
div.row-three {
  background-color: red;
}
div.row-four {
  background-color: blue;
}
